.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  padding: 10px 20px;
  color: #fff;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00a3ff;
  text-decoration: none;
}

.navbar-links a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #00a3ff;
}
